table.attachFile,
div.attachFile ul {
    margin: 0 !important;
    padding: 0 !important;
}

table.attachFile,
div.attachFile ul li a {
    color: #007bff !important;
    text-decoration: none;
}

table.attachFile,
div.attachFile ul li a:hover {
    text-decoration: underline;
}

.card-transparent {
    background: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(5px);
}